/* Global */

/* Properties */
@property --bg-color1 {
    syntax: '<color>';
    inherits: true;
    initial-value: light-dark(#fff, #222);
}

@property --bg-color2 {
    syntax: '<color>';
    inherits: true;
    initial-value: light-dark(#eee, #333);
}

/* Selectors */
body {
    width: 100%;
    height: 100%;

    background-color: var(--bg-color1);
}

#app {
    width: 100%;
    height: 100%;

    background-color: var(--bg-color1);

    /* Selectors */
    & > article {
        width: 300px;
        height: 300px;
        background-color: var(--bg-color2);
        border-radius: 7px;
    }
}

/* Tabs */

@property --tab-color {
    syntax: '<color>';
    inherits: true;
    initial-value: light-dark(#ddd, #444);
}

@property --active-tab-color {
    syntax: '<color>';
    inherits: true;
    initial-value: light-dark(#ccc, #555);
}

#tabs {
    display: flex;
    flex-flow: column nowrap;
    padding: 10px;

    /* Selectors */
    & > h1 {
        width: 100%;
    }

    & > div {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;

        /* Selectors */
        & > #tabBar {
            width: 100%;
            height: 45px;

            display: flex;
            flex-flow: row nowrap;

            align-items: end;
            justify-content: end;

            gap: 1px;


            /* Selectors */
            & > button {
                flex-grow: 1;
                background-color: var(--tab-color);

                border: none;
                border-radius: 10px 10px 0px 0px;


                /* Selectors */
                &.active {
                    background-color: var(--active-tab-color);
                    height: 100%;
                }
            }
        }

        & > #tabContainer {
            width: 100%;

            flex-grow: 1;

            background-color: var(--active-tab-color);


            /* Selectors */
            & > div {
                display: none;

                
                /* Selectors */
                &.active {
                    display: block;
                }
            }
        }
    }
}